@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1a1c1d;
  color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
}

.navLink {
  color: #9b9b9b;
}
