@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1a1c1d;
  color: #f4f4f4;
}

body {
}

.navLink {
  color: #9b9b9b;
}

.hover-line-text .text-container {
  position: relative;
  padding-right: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden; /* Ensures that the line does not extend beyond the initial container width */
}

.hover-line-text .text-container a {
  color: #9b9b9b; /* Tailwind gray-700 */
  transition: transform 0.2s ease, color 0.2s ease;
}

.hover-line-text .text-container:hover a,
.hover-line-text .text-container.active a {
  transform: translateX(65px); /* Moves the text to the right on hover */
  color: #f4f4f4; /* Tailwind blue-500 */
  font-weight: 900;
}

.hover-line-text .text-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 50px; /* Initial width of the line */
  height: 1px;
  background-color: #9b9b9b; /* Tailwind blue-500 */
  transform: scaleX(0.5);
  transition: transform 0.2s ease;
  transform-origin: left;
}

.hover-line-text .text-container:hover::before,
.hover-line-text .text-container.active::before {
  transform: scaleX(1);
  background-color: #f4f4f4; /* Tailwind blue-500 */
}
